body {
  min-width: 380px;
  max-width: 380px;
  min-height: 280px;
  max-height: 300px;
  font-size: large;
}

img.icon {
  margin-bottom: -8px;
}

@media all and (prefers-color-scheme: dark) {
  body {
    background-color: #24292f;
    color: #ffffff;
  }
  a {
    color: #ae5ee0;
  }
  a:active {
    color: #5bf5bf;
  }
}
